#quadrato {
    background-color: red;
    height: 90px;
    width: 90px;
}

header {
    background-color: purple;
    display: flex;
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;
}
